.skills_section {
    position: relative;
    max-width: 1440px;
    padding: 0 0 96px;
}

.skills_block h1 {
    padding-bottom: 50px;
    font-size: 62px;
}

.skills_block_card {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.skills_block_card_svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.skills_block_card h5 {
    max-width: 370px;
    padding-top: 15px;
    font-weight: 600;
}

.skills_block_card p {
    max-width: 370px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1206px) {
    .skills_block_card:nth-of-type(4),
    .skills_block_card:nth-of-type(5),
    .skills_block_card:nth-of-type(6) {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 835px) {
    .skills_block_card {
        max-width: 370px;
    }
}

@media only screen and (min-width: 768px) {
    .skills_page h1 {
        font-size: 72px;
    }
}